// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
*{
  margin:0px;
  padding:0px;
  box-sizing:border-box;
}

body{
  display:block;
}

h1{
  display:block;
  font-size:2em;
  magin-block-start:0.67em;
  margin-block-end:0.67em;
  magin-inline-start:0px;
  magin-inline-end:0px;
  font-weight:bold;
}

p{
  display:block;
  magin-block-start:1em;
  magin-block-end:1em;
  margin-inline-start:0px;
  margin-inline-end:0px;
}

strong{
  font-weight:bold;
}






